header
  h2
    font-size: 32px
    padding-left: 20px
    margin-top: -51px
    color: white
  
  p
    padding-left: 20px
    margin-top: -20px
    font-size: 16px

    &:first-of-type
      margin-top: -20px
      
  div
    width: 100%
    overflow: hidden
      
    img
      width: auto

@media screen and (max-width: 480px)
  header
    div
      height: 120px
    
      img
        height: 160px

@media screen and (min-width: 481px) and (max-width: 560px)
  header
    div
      height: 140px
    
      img
        height: 190px
      
@media screen and (min-width: 561px) and (max-width: 660px)
  header
    div
      height: 160px
    
      img
        height: 220px
      
@media screen and (min-width: 661px) and (max-width: 760px)
  header
    div
      height: 220px
    
      img
        height: 260px

@media screen and (min-width: 761px) and (max-width: 860px)
  header
    div
      height: 240px
    
      img
        height: 300px
      
@media screen and (min-width: 861px) and (max-width: 1000px)
  header
    div
      height: 280px
    
      img
        height: 340px
    
@media screen and (min-width: 1001px) and (max-width: 1200px)
  header
    div
      height: 380px
    
      img
        height: 400px
      
@media screen and (min-width: 1201px) and (max-width: 1420px)
  header
    div
      height: 420px
    
      img
        height: 480px
      
@media screen and (min-width: 1421px) and (max-width: 1600px)
  header
    div
      height: 420px
    
      img
        height: 540px
      
@media screen and (min-width: 1601px)
  header
    div
      height: 420px
    
      img
        height: 600px
      