.recent-posts
  h3
    font-size: 1.5em
    
  article
    border-bottom: 1px solid #EEE
    margin-bottom: 20px
    padding-bottom: 20px
    max-width: 100%
    
    *
      max-width: 100%

    blockquote
      font-style: italic
      margin: 0
      padding: 0 20px 

    time
      color: #AAA

    h1
      font-size: 2em
      margin: 0
      font-weight: 300
      line-height: 1.2
      
      a
        text-decoration: none

    h2, h3, h4, h5
      font-size: 1em
      

    &:last-of-type
      border: none