.post-list
  
  li
    list-style-type: none
    
  time
    display: inline-block
    width: 120px
    vertical-align: top
    
  a
    display: inline-block
    max-width: 440px
    min-width: 180px

@media (max-width: 480px)
  .post-list
    a
      max-width: 200px
      