html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  font-family: -apple-system, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-size: 16px
  line-height: 1.5
  color: $black
  text-rendering: optimizeSpeed
  padding-bottom: 80px

a
  color: $blue

ul ul
  padding-left: 20px

ul ul li
  list-style-type: disc

main
  padding: 20px
  max-width: 600px
  margin: auto

